node_modules
public
.tmp
.idea
client/bower_components
/server/config/local.env.js
npm-debug.log
coverage
Gruntfile.js
/travail/*
/client/app/googleFontApiKey/*
/client/app/googleFontApiKey
.DS_Store
/workingprodtest/*
/server/backup/dbsave/*