<div id="canvas-window" ng-mousemove="" ng-click="">

    <box-dessin ng-repeat="item in tableData"
                data="item"
                actions="actions">
                            <box-arrow datas="item"
                                       actions="actions">
                            </box-arrow>
    </box-dessin>

    <box-dessin ng-repeat="menu in tableMenu"
                data="menu"
                actions="actions"
                items="items">
                            <div style="width:{{ $ctrl.data.size.w }}px;height:{{ $ctrl.data.size.h }}px; background:black;"
                                 uib-popover-template="$ctrl.popUpUrl"
                                 popover-append-to-body="true"
                                 popover-is-open="true"
                                 popover-title="{{ ::$ctrl.data.label }}"
                                 popover-placement="right">
                            </div>
    </box-dessin>

    <canvas droppable id="canvas-dessin" style="position:relative;background-color:#f1f1f1;">Ooups, Votre navigateur ne supporte pas le html 5...</canvas>
</div>