<div class="btn-group">
  <button type="button" class="btn btn-default" ng-click="$ctrl.actions.rotate(5, $ctrl.data)">
    <i class="fa fa-undo" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-default" ng-click="$ctrl.actions.rotate(-5, $ctrl.data)">
    <i class="fa fa-repeat" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-default" ng-click="$ctrl.actions.removeShapeToTable($ctrl.data)">
    <i class="glyphicon glyphicon-remove"></i>
  </button>
</div>

<h5>Couleur de ligne</h5>
<color-picker
  ng-model='$ctrl.data.color'
  color-picker-disabled='false'
  color-picker-format="'hex'"
  color-picker-on-change="$ctrl.actions.dataChange($ctrl.data)"
>
</color-picker>

<h5>Epaisseur de ligne</h5>
<input
  name="lineWidth"
  type="number"
  min="1"
  class="form-control"
  ng-model="$ctrl.data.lineWidth"
  ng-change="$ctrl.actions.dataChange($ctrl.data)"
  required
/>

<h5>Couleur de remplissage</h5>
<color-picker
  ng-model='$ctrl.data.fillColor'
  color-picker-disabled='false'
  color-picker-format="'hex'"
  color-picker-on-change="$ctrl.actions.dataChange($ctrl.data)"
>
</color-picker>