<div>

  <div class="form-group">
  <div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="$ctrl.actions.rotate(5, $ctrl.data)">
      <i class="fa fa-undo" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.actions.rotate(-5, $ctrl.data)">
      <i class="fa fa-repeat" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.actions.eyeDropper()">
      <i class="fa fa-eyedropper" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-default" ng-model="$ctrl.data.isVertical" ng-click="$ctrl.data.changeOrientation();$ctrl.actions.dataChange($ctrl.data)" uib-btn-checkbox>
      <i class="fa fa-arrows-v" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.actions.removeTextToTable($ctrl.data)">
      <i class="glyphicon glyphicon-remove"></i>
    </button>
  </div>
    </div>

  <div class="form-group">
    <label>Police de caractères :</label>
    <jd-fontselect stack="$ctrl.data.font.family"
                   on-change="$ctrl.actions.changeFont(font, $ctrl.data)"
                   on-close="$ctrl.actions.dataChange($ctrl.data)"
                   text="{ toggleOpenLabel: 'Ouvrir', toggleCloseLabel: 'Fermer', searchToggleLabel: 'Chercher' }"/>
  </div>

  <div class="form-group">
    <label>Texte :</label>
    <input id="texte-deco"
           type="text"
           class="form-control"
           ng-model="$ctrl.data.input"
           ng-change="$ctrl.actions.dataChange($ctrl.data)"
           required />
  </div>

  <div class="form-group">
    <label>Taille :</label>
    <input id="taille-id"
           type="number"
           min="1"
           class="form-control"
           placeholder="{{$ctrl.data.font.size}}"
           ng-model="$ctrl.data.font.size"
           ng-change="$ctrl.actions.dataChange($ctrl.data)"
           required />
  </div>

  <div class="form-group">
    <label>Couleur :</label>
    <color-picker
            ng-model='$ctrl.data.font.color'
            color-picker-disabled='false'
            color-picker-format="'hex'"
            color-picker-on-change="$ctrl.actions.dataChange($ctrl.data)"
    ></color-picker>
  </div>


</div>