<div class="btn-group">
  <button type="button" class="btn btn-default" ng-click="$ctrl.actions.rotate(5, $ctrl.data)">
    <i class="fa fa-undo" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-default" ng-click="$ctrl.actions.rotate(-5, $ctrl.data)">
    <i class="fa fa-repeat" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-default" ng-click="$ctrl.actions.removeImgToTable($ctrl.data)">
    <i class="glyphicon glyphicon-remove"></i>
  </button>
</div>