<div>

    <div class="btn-group">
        <button type="button" class="btn btn-default" ng-click="$ctrl.actions.rotate(5, $ctrl.data)">
            <i class="fa fa-undo" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default" ng-click="$ctrl.actions.rotate(-5, $ctrl.data)">
            <i class="fa fa-repeat" aria-hidden="true"></i>
        </button>
        <modal-dessin
                icone="cog"
                template="modalBox"
                class-btn="btn btn-default"
                actions="$ctrl.actions"
                items="$ctrl.items"
                data="$ctrl.data"
                selected="$ctrl.data.itemInfo.idItem"
                style="margin-left:20px;">
        </modal-dessin>
    </div>

    <div class="label-table">composant de l'effet : {{:: $ctrl.data.titreParentOption }} #{{:: $ctrl.data.key + 1 }} ({{:: $ctrl.data.titreParentEffet }}) </div>
    <table class="table table-condensed table-bordered">
        <tr>
            <td>{{$ctrl.data.titre}}</td>
            <td>{{$ctrl.data.itemInfo.titreItem}}</td>
        </tr>
    </table>

</div>