<div>

    <div class="btn-group">
        <button type="button" class="btn btn-default" ng-click="$ctrl.actions.rotate(5, $ctrl.data)">
            <i class="fa fa-undo" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default" ng-click="$ctrl.actions.rotate(-5, $ctrl.data)">
            <i class="fa fa-repeat" aria-hidden="true"></i>
        </button>
    </div>

    <div class="selection-titre">{{$ctrl.data.titreOption}} #{{$ctrl.data.key + 1}}</div>
    <div class="selection-sous-titre">{{$ctrl.data.type}} - {{$ctrl.data.titre}}</div>

    <div class="label-table">composants</div>
    <table class="table table-condensed table-bordered">
        <tr ng-repeat="compo in $ctrl.data.composants">
            <td>{{compo.titre}}</td>
            <td>{{compo.itemInfo.titreItem}}
                <div class="pull-right">
                    <modal-dessin
                            template="modalBox"
                            icone="cog"
                            class-btn="btn btn-default btn-sm"
                            items="$ctrl.items"
                            data="compo"
                            selected="compo.itemInfo.idItem"
                            actions="$ctrl.actions">
                    </modal-dessin>
                </div>
            </td>
        </tr>
    </table>

</div>