<div class="container-fluid">
    <h2 class="text-center">Composants</h2>
    <div class="row">
        <div class="col-xs-4">
            <bib-compo-item items="modal.items" options="modal.data.item_info.items" selectoption="modal.selected"></bib-compo-item>
        </div>
        <div class="col-xs-8">
            <bib-compo-desc items="modal.items" op="modal.selected"></bib-compo-desc>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
            <button class="btn btn-primary" type="button" ng-click="modal.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="modal.cancel()">Annuler</button>
        </div>
    </div>
</div>