<div class="container" loading3="$ctrl.loading">
  <composant-type></composant-type>
  <h1 class="page-header">Liste de Composants : </h1>

  <uib-accordion>
    <uib-accordion-group heading="{{k}}" ng-repeat="(k, v) in $ctrl.composants">
      <ul ng-repeat="composant in v">
        <li><a href="#" uib-tooltip="{{composant.description}}">
          {{composant.titre}}<br/>
          Type : {{composant.type}}<br/>
          Forme : {{composant.shape}}<br/>
          Prix : {{composant.prix_additionnel}}euro<br/>
          Dimension : {{composant.size.w}} x {{composant.size.h}}
          <button type="button" class="close" ng-click="$ctrl.deleteComposant(composant)">&times;</button>
        </a></li>
      </ul>
    </uib-accordion-group>
  </uib-accordion>

  <form class="thing-form">
    <h2>Ajouter un composant dans la db</h2>
      <label>Nom :</label><input type="text" class="form-control" placeholder="Nom" ng-model="$ctrl.newComposant.titre">
      <label>Type de composant :</label>
      <select ng-model="$ctrl.newComposant.type">
        <option ng-repeat="composantType in $ctrl.composantTypes">{{composantType.titre}}</option>
      </select>
      </br>
      <label>Forme :</label><input type="text" class="form-control" placeholder="(Rect, Cercle, Poly)" ng-model="$ctrl.newComposant.shape">
      <label>Description :</label><input type="text" class="form-control" placeholder="Description." ng-model="$ctrl.newComposant.description">
      <label>Disponible :</label><input type="checkbox" ng-model="$ctrl.newComposant.disponible">
      </br>
      <label>Prix :</label><input type="text" class="form-control" placeholder="Prix." ng-model="$ctrl.newComposant.prix_additionnel">
      <label>Largueur :</label><input type="text" class="form-control" placeholder="Largueur" ng-model="$ctrl.newComposant.size.w">
      <label>Hauteur :</label><input type="text" class="form-control" placeholder="Hauteur" ng-model="$ctrl.newComposant.size.h">
    <button type="submit" class="btn btn-primary" ng-click="$ctrl.addComposant()">Add New</button>
  </form>
</div>