<div class="container" loading="loading">
  <composant-type></composant-type>
  <h1 class="page-header">Liste de Composants : </h1>
  <div class="row" >
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="composant in $ctrl.composants.slice((($ctrl.currentPage-1)*$ctrl.itemsPerPage), (($ctrl.currentPage)*$ctrl.itemsPerPage))">
        <li><a href="#" uib-tooltip="{{composant.description}}">{{composant.titre}}<br/>Type : {{composant.type}}<br/>Prix : {{composant.prix_additionnel}}euro<br/>Dimension : {{composant.dimensions.x}} x {{composant.dimensions.y}}<button type="button" class="close" ng-click="$ctrl.deleteComposant(composant)">&times;</button></a></li>
      </ul>
  </div>
  <uib-pagination total-items="$ctrl.nbItems" ng-model="$ctrl.currentPage" items-per-page="$ctrl.itemsPerPage" max-size="50" boundary-links="true"></uib-pagination>
  <form class="thing-form">
    <label>Ajouter un composant dans la db</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Titre." ng-model="$ctrl.newComposant.titre">
      <select ng-model="$ctrl.newComposant.type">
        <option ng-repeat="composantType in $ctrl.composantTypes">{{composantType.titre}}</option>
      </select>
      <input type="text" class="form-control" placeholder="Description." ng-model="$ctrl.newComposant.description">
      <label>
        Disponible : <input type="checkbox" ng-model="$ctrl.newComposant.disponible">
      </label>
      <input type="text" class="form-control" placeholder="Prix." ng-model="$ctrl.newComposant.prix_additionnel">
      <input type="text" class="form-control" placeholder="x." ng-model="$ctrl.newComposant.x">
      <input type="text" class="form-control" placeholder="y." ng-model="$ctrl.newComposant.y">
    </p>
    <button ng-show="$ctrl.isAdmin()" type="submit" class="btn btn-primary" ng-click="$ctrl.addComposant()">Add New</button>
  </form>
</div>