<!--<div class="checkbox">-->
<!--<label><input type="checkbox" ng-model="$ctrl.debrayable" ng-click="$ctrl.switchDeb({value:$ctrl.debrayable})">Autoriser le positionnement des composants</label>-->
    <!--<label><input type="checkbox" ng-model="$ctrl.effetIsActive" ng-click="$ctrl.activeEffet()">Deplacer les effets</label>-->
    <!--<label><input type="checkbox" ng-model="$ctrl.compoIsActive" ng-click="$ctrl.activeCompo()">Deplacer les composants</label>-->
<!--</div>-->
<button type="button" class="btn btn-primary" ng-model="$ctrl.debrayable" ng-click="$ctrl.switchDebChild()" uib-btn-checkbox>
    Composants positionnables : {{$ctrl.debrayable}}
</button>
<div class="btn-group">
    <label class="btn btn-success" ng-click="$ctrl.activeEffet()" ng-model="$ctrl.isActive" uib-btn-radio="'effet'" uncheckable ng-hide="!$ctrl.debrayable">Deplacer les effets</label>
    <label class="btn btn-success" ng-click="$ctrl.activeCompo()" ng-model="$ctrl.isActive" uib-btn-radio="'compo'" uncheckable ng-hide="!$ctrl.debrayable">Deplacer les composants</label>
</div>