<div class="container">

    <div uib-alert ng-repeat="message in $ctrl.message" type="{{message.type}}" close="$ctrl.closeAlert($index)">{{message.body}}</div>

    <!-- Button sortir formulaire edition effet  -->
    <button type="button" class="close pull-right" ng-click="$ctrl.$state.go('effets')">Retour à la liste des effets</button>

    <h1 class="page-header">EDITER EFFET</h1>
    <form  name="effetForm" class="form">

        <!-- Champ titre de l'effet  -->
        <div class="form-group" show-errors>
            <label>Nom :</label>
            <input name="effetTitre" type="text" class="form-control" placeholder="nom de l'effet" ng-model="$ctrl.entity.titre" required />
        </div>

        <!-- Champ description de l'effet  -->
        <div class="form-group" show-errors>
            <label>Description :</label>
            <input name="effetDescription" type="text" class="form-control" placeholder="description de l'effet" ng-model="$ctrl.entity.description" required />
        </div>

        <!-- Champ type d'effet  -->
        <div class="form-group" show-errors>
            <label>Type :</label>
            <select name="effetType" class="form-control" ng-model="$ctrl.entity.type" required>
                <option ng-repeat="type in $ctrl.types" value="{{type.titre}}">{{type.titre}}</option>
            </select>
        </div>

        <!-- Injection du formulaire d'options  -->
        <options effet="$ctrl.entity" nouv-effet="$ctrl.nouveau"></options>


        <!-- Validation ou suppression de l'effet  -->
      <span class="input-group-btn">
          <button ng-confirm-message="Enregistrer les modifications de l'effet {{ $ctrl.entity.titre }} ?"
                  ng-confirm-body="Cette action est irréversible."
                  ng-confirm="$ctrl.addEffet()"
                  type="submit"
                  class="btn btn-primary"
                  ng-if="!$ctrl.nouveau">Enregistrer les modifications</button>
          <button type="submit" class="btn btn-primary" ng-click="$ctrl.addEffet()" ng-if="$ctrl.nouveau">Enregistrer</button>
          <button ng-confirm-message="Supprimer l'effet {{ $ctrl.entity.titre }} ?"
                  ng-confirm-body="L'effet et toutes ses options seront supprimés de la base de donnée. Cette action est irréversible."
                  ng-confirm="$ctrl.deleteEffet($ctrl.entity)"
                  type="button"
                  class="btn btn-danger"
                  ng-if="!$ctrl.nouveau">Supprimer</button>
      </span>
    </form>
</div>