<div class="panier-dessin-menu">
<div class="btn-group">
  <button class="btn btn-default" title="Changer la couleur du boitier" ng-model="$ctrl.global.state.decoState" ng-click="$ctrl.switchDecoSub()" uib-btn-radio="'colorBox'">
    <i class="glyphicon glyphicon-tint"></i>
  </button>
  <button class="btn btn-default" title="Ajouter du texte" ng-model="$ctrl.global.state.decoState" ng-click="$ctrl.switchDecoSub()" uib-btn-radio="'textDeco'">
    <i class="glyphicon glyphicon-font"></i>
  </button>
  <button class="btn btn-default" title="Ajouter des figures" ng-model="$ctrl.global.state.decoState" ng-click="$ctrl.switchDecoSub()" uib-btn-radio="'shapeDeco'">
    <i class="glyphicon glyphicon-th-large"></i>
  </button>
  <button class="btn btn-default" title="Ajouter des images" ng-model="$ctrl.global.state.decoState" ng-click="$ctrl.switchDecoSub()" uib-btn-radio="'imgDeco'">
    <i class="glyphicon glyphicon-picture"></i>
  </button>
</div>
</div>

<div class="panier-dessin-content">
<div ng-if="$ctrl.global.state.decoState === 'colorBox'">
  <h4>Couleur du boitier - facette {{ $ctrl.global.state.viewState }}</h4>
  <color-picker
    ng-model='$ctrl.global.boite.projBoite.color'
    color-picker-disabled='false'
    color-picker-format="'hex'"
    color-picker-on-change="$ctrl.draw()">
  </color-picker>
</div>

<div ng-if="$ctrl.global.state.decoState === 'textDeco'">
  <div class="deco-dessin-header">
    <form class="form-inline">
      <div class="form-group">
      <div class="input-group">
        <input type="text" placeholder="Ajoutez un texte" class="form-control input-group" name="text" ng-model="textDeco">
      </div>
      </div>
      <button type="submit" class="btn btn-default" ng-click="$ctrl.addTextToTable({string:textDeco}); textDeco='';">
        <i class="glyphicon glyphicon-plus"></i>
      </button>
    </form>
  </div>

  <div class="selection-deco" ng-repeat="item in $ctrl.textDeco">
    <div>
      <div class="pull-right" ng-click="$ctrl.removeTextToTable({index:$index})"><i class="glyphicon glyphicon-remove"></i></div>
      <div><i class="glyphicon glyphicon-font"></i></div>
    </div>
    <div>{{item.input}}</div>

  </div>
</div>


<div ng-if="$ctrl.global.state.decoState === 'shapeDeco'">
  <div class="deco-dessin-header">
    <div class="btn-group">
      <label class="btn btn-default" ng-model="$ctrl.shape" uib-btn-radio="'Cercle'">Cercle</label>
      <label class="btn btn-default" ng-model="$ctrl.shape" uib-btn-radio="'Rectangle'">Rectangle</label>
      <button type="submit" class="btn btn-default" ng-click="$ctrl.addShapeToTable({shape:$ctrl.shape,color:$ctrl.color,lineWidth:$ctrl.lineWidth,fillColor:$ctrl.fillColor})">Ajouter la forme</button>
    </div>

    <!--<h5>Couleur de ligne</h5>-->
    <!--<color-picker-->
            <!--ng-model='$ctrl.color'-->
            <!--color-picker-disabled='false'-->
            <!--color-picker-format="'hex'">-->
    <!--</color-picker>-->

    <!--<h5>Epaisseur de ligne</h5>-->
    <!--<input name="lineWidth" type="number" class="form-control" ng-model="$ctrl.lineWidth"/>-->

    <!--<h5>Couleur de remplissage</h5>-->
    <!--<color-picker-->
            <!--ng-model='$ctrl.fillColor'-->
            <!--color-picker-disabled='false'-->
            <!--color-picker-format="'hex'">-->
    <!--</color-picker>-->
  </div>

  <div class="selection-deco" ng-repeat="item in $ctrl.shapeDeco">
    <i class="glyphicon glyphicon-th-large"></i><span style="margin-left: 20px;">{{ item.shapeObject }}</span><span ng-click="$ctrl.removeShapeToTable({index:$index})" class="glyphicon glyphicon-remove pull-right"></span>
  </div>

</div>


<div ng-if="$ctrl.global.state.decoState === 'imgDeco'">
    <div class="deco-dessin-header">
      <button type="file" class="btn btn-default" ngf-select="$ctrl.uploadFiles($file, $invalidFiles)" accept="image/*">Ajouter une image</button>
      <div style="font:smaller">{{$ctrl.errFile.name}} {{$ctrl.errFile.$error}} {{$ctrl.errFile.$errorParam}}
        <span class="progress" ng-show="$ctrl.f.progress >= 0">
            <div style="width:{{$ctrl.f.progress}}%"
                 ng-bind="$ctrl.f.progress + '%'"></div>
        </span>
      </div>
    </div>

    <div class="selection-deco" ng-repeat="item in $ctrl.imgDeco">
        <img ngf-thumbnail="item.img.src" height="80" alt="" title="">
        <span ng-click="$ctrl.removeImgToTable({index:$index})" class="glyphicon glyphicon-remove pull-right"></span>
    </div>

</div>
</div>