<h3>Edition graphique</h3>

<h4>Ajouter du texte sur le boitier</h4>
<input type="text" name="text" ng-model="textDeco">
<span class="glyphicon glyphicon-plus" ng-click="$ctrl.addTextToTable({string: textDeco})"></span>
<div>Texte(s) présent(s) :</div>
<ul ng-repeat="item in $ctrl.textDeco">
  <li>
    <span>{{item.input}}</span><span ng-click="$ctrl.removeTextToTable({index:$index})" class="glyphicon glyphicon-remove"></span>
  </li>
</ul>

<h4>Changer la couleur du boitier</h4>
<color-picker
    ng-model='$ctrl.boite.color'
    color-picker-disabled='false'
    color-picker-format="'hex'"
    color-picker-on-change="$ctrl.draw()">
</color-picker>

<h4>Ajouter des figures sur le boitier</h4>
<div class="btn-group">
  <label class="btn btn-primary" ng-model="shapeModel" uib-btn-radio="'Cercle'">Cercle</label>
  <label class="btn btn-primary" ng-model="shapeModel" uib-btn-radio="'Rectangle'">Rectangle</label>
</div>
<color-picker
  ng-model='shapeColor'
  color-picker-disabled='false'
  color-picker-format="'hex'">
</color-picker>
<div class="glyphicon glyphicon-plus" ng-click="$ctrl.addShapeToTable({string: shapeModel, color: shapeColor})"></div>
<div>Figures(s) présent(s) :</div>
<ul ng-repeat="item in $ctrl.shapeDeco">
  <li>
    <span>$index</span><span ng-click="$ctrl.removeShapeToTable({index:$index})" class="glyphicon glyphicon-remove"></span>
  </li>
</ul>
