<div class="input-group input-group-sm" style="width:140px;">
    <input type="number"
           class="form-control"
           ng-model="$ctrl.value"
           ng-focus="$ctrl.onFocus()"
           ng-blur="$ctrl.onBlur()"
           placeholder="{{$ctrl.datas.value}}"
           min="20"
           max="1500"
           required>
    <span class="input-group-addon" id="basic-addon1">mm</span>
            <span class="input-group-btn">
                <button type="submit"
                        class="btn btn-primary"
                        ng-click="$ctrl.validation()"
                        ng-show="$ctrl.change">Ok
                </button>
            </span>
</div>