<div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="$ctrl.zoomAdd({value:-0.2})">Zoom -</button>
    <button type="button" class="btn btn-default">{{$ctrl.zoom}}%</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.zoomAdd({value:0.2})">Zoom +</button>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-default" ng-click="$ctrl.save()">Enregistrer</button>
  <button type="button" class="btn btn-default" ng-click="$ctrl.load()">Charger</button>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="$ctrl.up()">Dessus</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.down()">Dessous</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.right()">Droite</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.left()">Gauche</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.bottom()">Devant</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.top()">Derrière</button>
</div>
<button type="button" class="btn btn-primary" ng-click="$ctrl.getTable()">getTable</button>