<div class="container">

        <!--<div class="bg-danger" ng-if="$ctrl.message.error">{{ $ctrl.message.error }}</div>-->
        <!--<div class="bg-success" ng-if="$ctrl.message.ok">{{ $ctrl.message.ok }}</div>-->

        <div uib-alert ng-repeat="message in $ctrl.message" type="{{message.type}}" close="$ctrl.closeAlert($index)">{{message.body}}</div>

        <h1 class="page-header">EFFETS</h1>

        <div class="btn-group pull-left">
            <button ng-confirm-message="Supprimer les effets sélectionnés?"
                    ng-confirm-body="Les effets sélectionnés seront supprimés de la base de donnée. Cette action est irréversible."
                    ng-confirm="$ctrl.deleteSelectEffets()"
                    type="button" class="btn btn-danger">
                Supprimer la selection
            </button>
        </div>

        <div class="pull-right">
                    <button type="button" ng-click="$ctrl.$state.go('editionEffet', {types: $ctrl.types})" class="btn btn-primary">
                        <i class="glyphicon glyphicon-plus">
                        </i>
                        Créer un nouvel effet
                    </button>
        </div>

        <table class="table table-bordered" st-table="$ctrl.indexEffets">
            <thead>
                <tr class="">
                    <th></th>
                    <th>Effet</th>
                    <th>Type</th>
                    <th>Date création</th>
                    <th>Options</th>
                    <th>Editer</th>
                </tr>
                <!--<tr>-->
                    <!--<th></th>-->
                    <!--<th><input st-search="titre" class="input-sm form-control" type="search"/></th>-->
                    <!--<th><input st-search="type" class="input-sm form-control" type="search"/></th>-->
                    <!--<th></th>-->
                    <!--<th></th>-->
                    <!--<th></th>-->
                 <!--</tr>-->
            </thead>
            <tbody>

            <tr ng-repeat="effet in $ctrl.indexEffets">
                <th scope="row" select-row="effet"></th>
                <td>{{effet.titre}}</td>
                <td>{{effet.type}}</td>
                <td>{{effet.creation | date:'shortDate'}}</td>
                <td>
                    <div style="min-height:50px;" ng-repeat="option in effet.options">
                        <div class="pull-left">{{ option.titre }}</div>
                        <div class="btn-group pull-right">
                            <button type="button" ng-click="$ctrl.updateOptionPublie(effet, $index, true)" ng-hide="option.publie" class="btn btn-default has-warning">
                                <i class="glyphicon glyphicon-warning-sign">
                                </i>
                            </button>
                            <button type="button" ng-click="$ctrl.updateOptionPublie(effet, $index, false)" ng-hide="!option.publie" class="btn btn-default has-success">
                                <i class="glyphicon glyphicon-ok">
                                </i>
                            </button>
                            <button ng-confirm-message="Supprimer l'option - {{ option.titre }} - de l'effet {{ effet.titre }} ?"
                                    ng-confirm-body="L'option sera supprimée de la base de donnée. Cette action est irréversible."
                                    ng-confirm="$ctrl.deleteOption(effet, $index)"
                                    type="button"
                                    class="btn btn-default">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="btn-group pull-right">
                            <button type="button" ng-click="$ctrl.$state.go('editionEffet', {entity: effet})" class="btn btn-default">
                                <i class="glyphicon glyphicon-pencil">
                                </i>
                            </button>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>

</div>