<h3>Panier des effets</h3>
<uib-accordion>
  <uib-accordion-group ng-repeat="effet in $ctrl.effets"
                       ng-mouseleave="$ctrl.leaveEffet()"
                       ng-mouseenter="$ctrl.onEffet({value:effet})"
                       draggable
                       heading="{{::effet.titre}} - {{::effet.titreOption}} #{{::effet.key + 1}}" >
    <div ng-mouseleave="$ctrl.leaveEffet()" ng-mouseenter="$ctrl.onCompo({value:compo})" ng-repeat="(k, compo) in effet.composants">
        <p><label>{{compo.titre}}</label> - {{compo.itemInfo.titreItem}}</p>
        <p>
            <modal-dessin
                    template="modalBox"
                    name="Changer le composant"
                    class-btn="btn btn-default btn-sm"
                    action="$ctrl.updateComposant({compo:compo, value:value})"
                    items="$ctrl.items"
                    data="compo"
                    selected="compo.itemInfo.idItem"
                    actions="$ctrl.actions">
            </modal-dessin>
        </p>
    </div>
    <p>{{effet.description}}</p>
    <p>{{effet.descriptionOption}}</p>
    <button ng-hide="effet.inCanvas" type="submit" class="btn btn-primary btn-sm" ng-click="$ctrl.addToTable({value: effet})">+</button>
    <button ng-show="effet.inCanvas" type="submit" class="btn btn-primary btn-sm" ng-click="$ctrl.removeToTable({value: effet})">-</button>
  </uib-accordion-group>
</uib-accordion>