<div class="panier-dessin-menu">
<modal-dessin
        name="Ajouter un effet"
        class-btn="btn btn-default"
        template="modalBiblioBox">
</modal-dessin>
</div>
<div class="panier-dessin-bandeau">
    Votre sélection :
</div>
<div class="panier-dessin-content">

  <div class="selection-droppable" ng-repeat="effet in $ctrl.selections track by $index" draggable>

      <span class="pull-right">
          <button ng-show="effet.inCanvas" type="button" class="btn btn-danger btn-sm" ng-click="$ctrl.removeToTable({value: effet})" uib-tooltip="Retirer l'effet du dessin" tooltip-placement="right">
              <i class="glyphicon glyphicon-remove"></i>
          </button>
          <button ng-hide="effet.inCanvas" type="button" class="btn btn-default btn-sm" ng-click="$ctrl.removeToSelection({value: effet})" uib-tooltip="Retirer l'effet de la sélection" tooltip-placement="right">
              <i class="glyphicon glyphicon-remove"></i>
          </button>
      </span>

      <div class="selection-titre">{{effet.titreOption}} #{{effet.key + 1}}</div>
      <div class="selection-sous-titre">{{effet.type}} - {{effet.titre}}</div>

      <div class="label-table">composants</div>
      <table class="table table-condensed table-bordered">
          <tr ng-repeat="(k, compo) in effet.composants">
              <td>{{compo.titre}}</td>
              <td>{{compo.itemInfo.titreItem}}
                  <div class="pull-right">
                      <modal-dessin
                              uib-tooltip="Changer de composant" tooltip-placement="right"
                              template="modalBox"
                              icone="cog"
                              class-btn="btn btn-default btn-sm"
                              items="$ctrl.composantItems"
                              data="compo"
                              selected="compo.itemInfo.idItem"
                              actions="$ctrl.actions">
                      </modal-dessin>
                  </div>
              </td>
          </tr>
      </table>


</div>
</div>