<h2>Les composants de l'option " {{ $ctrl.oneOption.titre || 'sans-titre' }} "</h2>
<div class="btn-group pull-right">
  <button type="button" class="btn btn-default" ng-click="$ctrl.newComposant()" uib-tooltip="Ajouter un nouveau composant à l'option" tooltip-popup-delay="400">
    <i class="glyphicon glyphicon-plus">
    </i>
  </button>
  <button type="button" class="btn btn-default" ng-click="$ctrl.deleteComposant($index)" uib-tooltip="Supprimer le composant actif" tooltip-popup-delay="400">
    <i class="glyphicon glyphicon-remove">
    </i>
  </button>
</div>

<uib-tabset>
    <uib-tab ng-repeat="composant in $ctrl.oneOption.composants track by $index" heading="Composant {{$index + 1}} - {{composant.titre}}">

      <!-- Champ type du composant d'option  -->
      <div class="form-group" show-errors>
        <label>Type de composant :</label>
        <select name="composant-type-{{ $index }}" class="form-control" ng-model="$ctrl.oneOption.composants[$index].type" required >
          <option ng-repeat="type in $ctrl.typeCompo" value="{{type.titre}}">{{type.titre}}</option>
        </select>
      </div>

      <!-- Champ nom du composant d'option  -->
      <div class="form-group" show-errors>
        <label>Nom du composant :</label>
        <input name="composant-nom-{{ $index }}" type="text" class="form-control" placeholder="nom du composant" ng-model="$ctrl.oneOption.composants[$index].titre" required />
      </div>

      <!-- Injection boite modale choix du composant d'option  -->
      <div class="form-group">
        <label>Choix de composants possibles :</label>
        <modal-composants one-composant="$ctrl.oneOption.composants[$index]"></modal-composants>
      </div>

      <!-- Champ positionx du composant d'option  -->
      <div class="form-group" show-errors>
        <label>Position x (en mm) :</label>
        <input name="composant-posx-{{ $index }}" type="number" class="form-control" placeholder="coord. X" ng-model="$ctrl.oneOption.composants[$index].pos.x" required />
      </div>

      <!-- Champ positiony du composant d'option  -->
      <div class="form-group" show-errors>
        <label>Position y (en mm) :</label>
        <input name="composant-posy-{{ $index }}" type="number" class="form-control" placeholder="coord. Y" ng-model="$ctrl.oneOption.composants[$index].pos.y" required />
      </div>
    </uib-tab>
</uib-tabset>